#main {
    margin: 0 20px;
}

#ooi-sites a {
    font-size: 12px;
}

#content {
    margin-top: 5px;
}

.center {
    text-align: center;
}

table {
    font-size: 13px;
}

#map {
    height : 350px;
    margin-top: 5px;
    border: #000 1px solid;
}

.polygon {
    stroke : black;
    stroke-width : 1;
    stroke-opacity : 1;
    fill : yellow;
    fill-opacity : 0.2;
}

.navbar {
    margin-bottom: 5px !important;
}

#utc-clock {
    margin-left: 15px;
}

