#main {
    margin: 0 20px;
}

#ooi-sites a {
    font-size: 12px;
}


#content {        
        border-top: 1px solid #9fabb7;
        position: fixed;
        top: 6%;
        left: 25%;
        width: 74%;        
      }

.center {
    text-align: center;
}

table {
    font-size: 13px;
}

#map {       
    position: fixed;
    width: 25%;
    height: 40%;
    border-right: 1px solid #9fabb7;
    border-top: 1px solid #9fabb7;
    top: 50%;
    padding: 5px;
    max-height: 40%;        
    float:left;    
      }      

.polygon {
    stroke : black;
    stroke-width : 1;
    stroke-opacity : 1;
    fill : yellow;
    fill-opacity : 0.2;
}

#menu {       
        position: fixed;
        width: 25%;
        height: 40%;
        border-right: 1px solid #9fabb7;
        border-top: 1px solid #9fabb7;
        top: 6%;
        padding: 5px;
        overflow-y:auto;
        min-height:100px;
        max-height: 40%;        
        float:left;    
      }

.glyphicon-collapse-down{
    font-size: 26px;
    }      